name: Add changeset to Dependabot updates

on:
    pull_request_target:
        types: [opened, synchronize, labeled]

jobs:
    dependabot:
        name: Update Dependabot PR
        if: contains(github.event.pull_request.labels.*.name, 'dependencies')

        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Update PR
              uses: mscharley/dependency-changesets-action@v1.2.2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  use-conventional-commits: false
                  commit-message: "chore(deps): changeset for dependency update"
                  author-name: github-actions[bot]
                  author-email: github-actions[bot]@users.noreply.github.com